@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(https://raw.githubusercontent.com/dttric/fruitycraft/main/background.jpg);
    position: sticky;
    top: 0px;
}

@media screen and (max-width: 1100px) {

    header {
        display: none;
    }
    
    img {
        width: 140px;
        height: 140px;
        margin-left: 77%;
    }
    
    #name {
        display: none;
    }
    
    .overview {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        color: white;
        background-color: black;
    }
    
    footer {
        display: none;
    }

    #infoblock {
        margin-top: 10px;
        width: 100%;
        color: white;
        background-color: black;
        font-size: 40px;
        position: fixed;
        bottom: 0;
        float: left;
        display: grid;
        grid-template-columns: 1ft 1ft 1ft;
        border: solid 10px;
        border-color: black;
        border-top-width: -5px;
    }

    .overview_h1 {
        display: none;
    }

    .hmobile {
        font-size: 55px;
    }

    .overview_lay2 {
        font-size: 40px;
    }

    #logo {
        margin-top: -130px;
        float: right;
    }
}

@media screen and (min-width: 1100px) {
    header {
        font-size: 49px;
        background-color: black;
        border-bottom: 1px;
        display: flex;
        justify-content: space-between;
    }
    
    img {
        width: 70px;
        height: 70px;
        margin-left: 77%;
    }
    
    #name {
        color: black;
        background-color: white;
        margin-right: 3%;
        border-left: solid;
        border-right: solid;
        border-color: white;
        border-width: 3px 3px 3px 3px;
    }
    
    .overview {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 40%;
        color: white;
        border: 1px solid;
        border-width: 1px;
        font-size: 20px;
        border-left-width: 10px;
        border-color: black;
        background-color: black;
    }
    
    footer {
        margin-top: auto;
        background-color: black;
        font-size: 20px;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .hmobile {
        display: none;
    }

    #infoblock {
        display: none;
    }
}